.navList {
    background-color: #1E293B;
    display: flex;
    padding: 0.2rem 0;  /* Adjust the padding to increase the navbar height */
    justify-content: flex-end;
    position: sticky;
    top: 0.1px;
}

.navList ul {
    display: flex;
    list-style: none;
    margin-right: 5rem;
}

.navList ul li {
    margin: 0 0.7rem;   /* Adjust this value for more or less space */
}

.navList ul li a {
    color:#1E293B ;
    font-weight: bolder;
    text-decoration:none;
    padding: 0.4rem 0.8rem; /* Adjust padding to control the size of the capsules */
    border-radius: 2rem; /* This creates the capsule-like rounded edges */
    background-color: #6f8cbb; 
    transition: ease 0.1s;  /* This adds a smooth transition effect when the background color changes */
}  

.navList ul li a:hover {
    color: #8599B6;
    background-color:#274068; /* Change background color on hover */
    cursor: pointer;
}
