.skillsSection {
    padding: 3rem;
  }
  
.skillsHeading {
  margin-top: 1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  color: #3f4e67;
  text-shadow: 0.12rem 0.11rem 0.08rem #7e9ad3,   0.20rem 0.18rem 0.2rem #788eb7; 
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-around ;
    border: 0.2rem solid #314f81;
    border-radius: 1rem;
    margin: 4rem 25%;
    animation: border 3s infinite alternate;
}

@keyframes border {
    0% {
      border-color: #1ac31a;
    }
    50% {
      border-color: #d3b613;
    }
    100% {
      border-color: #073064;
    }
}
  
.skillItem {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 4rem);
    align-items: center;
    margin: 2rem;
}


  
  .skillIcon {
    width: 3.5rem; 
    height: 3.5rem;
  }
  
  .skillName {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold ;
    color: #3d5b84;
  }

  
  